{% extends 'base.html' %}

{% block content %}
	{% if messages %}
		{% for message in messages %}
			<div class= "alert alert-warning alert-dismissable" role="alert">
				<button class="close" data-dismiss="alert">
					<small><sup>X</sup></small>
				</button>
				{{ message }}
			</div>
		{% endfor %}
	{% endif %}

	{% if all_lists %}
	<table class="table table-bordered">
		{% for list in all_lists %}
			{% if list.completed%}
				<tr class="table-secondary">
					<td class="striker"> <a href="{% url 'task_home' list.id %}"> {{ list.list_name}} </a></td> 
					<td> <center> <a href="{% url 'uncross' list.id %}"> Uncross </center> </td>
					<td> <center> <a href="{% url 'delete_list' list.id %}"> Delete </a> </center> </td>
				</tr>
			{% else %}
				<tr>
					<td><a href="{% url 'task_home' list.id %}"> {{ list.list_name }} </a></td> 
					<td> <center> <a href="{% url 'cross_off' list.id %}"> Cross Off</a> </center> </td>
					<td> <center> <a href="{% url 'delete_list' list.id %}"> Delete </a> </center> </td>
				</tr>
			{% endif %}

		{% endfor %}
	</table>
	{% endif %}
{% endblock %}