{% extends 'base.html' %}

{% block content %}
	{% if messages %}
		{% for message in messages %}
			<div class= "alert alert-warning alert-dismissable" role="alert">
				<button class="close" data-dismiss="alert">
					<small><sup>X</sup></small>
				</button>
				{{ message }}
			</div>
		{% endfor %}
	{% endif %}

	{% if all_lists %}
	<table class="table table-bordered">
		{% for list in all_lists %}
				<tr>
					<td> <a href="{% url 'task_home' list.id %}"> {{ list.list_name}} </a></td> 
					<td> <center> <a href="{% url 'share' list.id %}"> Share </center> </td>
					<td> <center> <a href="{% url 'delete_list' list.id %}"> Delete </a> </center> </td>
				</tr>
		{% endfor %}
	</table>
	{% endif %}
	{% if shared_lists %}
	<table class="table table-bordered">
		{% for list in shared_lists %}
				<tr>
					<td> <a href="{% url 'task_home' list.listid.id %}"> {{ list.listid.list_name}} </a></td> 
					<td> <center> <a href="{% url 'share' list.listid.id %}"> Share </center> </td>
					</td>
				</tr>
		{% endfor %}
	</table>
	{%endif%}
{% endblock %}